/* MyPurchase.css */

.mypurchase-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .event-card {
    width: 45%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .event-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .event-details {
    margin-top: 10px;
  }
  
  .event-description {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .event-location,
  .event-price {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;
  }
  
  .buy-ticket-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .chapa-free-api {
    width: 45%;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .chapa-free-api h1 {
    font-size: 24px;
    text-align: center;
  }
  